
#set promt
settings set prompt "[lldb]$ "

#aliases
command regex rd 's/^[[:space:]]*$/po [[UIApp keyWindow] recursiveDescription]/' 's/^(.+)$/po [%1 recursiveDescription]/'
command alias slowmo p [(CALayer *)[[[[UIApplication sharedApplication] windows] objectAtIndex:0] layer] setSpeed:.1f]
command alias normalmo p [(CALayer *)[[[[UIApplication sharedApplication] windows] objectAtIndex:0] layer] setSpeed:1.f]
command alias sframe po (NSString*)NSStringFromCGRect((CGRect)[self frame])
command alias bounds po (NSString*)NSStringFromCGRect((CGRect)[self bounds])
command alias uikit expr @import UIKit
command alias foundation expr @import Foundation
command regex pdt 's/(.+)/print %1.dynamicType/'
command regex pframe 's/(.+)/print (CGRect)[%1 frame]/'
#import
command script import /usr/local/opt/chisel/libexec/fblldb.py
